<main>
    <H3>Please click a link below to register your kid for an activity.</H3>
    <ul>
        <li>
            <p>Boys</p>
            <img src="./assets/img/boy-cartoon.jpg" alt="Boy">
        </li>
        <li>
            <p>Girls</p>
            <img src="./assets/img/girl-cartoon.jfif" alt="Girl">
        </li>
        <li>
            <p>Mixed</p>
            <img src="./assets/img/boy-girl-cartoon.jfif" alt="Boy and Girl">
        </li>
        <li>
            <p>Coach</p>
            <img src="./assets/img/coach.png" alt="Coach">
        </li>
    </ul>
</main>