<main>
    <H3>Please click a link below to register your kid for an activity.</H3>
    <section>
    <nav>
        <ul>
            <li>
                <a routerLink="/boys">
                <p>Boys</p>
                <img src="./assets/img/boy-cartoon.jpg" alt="Boy">
            </a>
            </li>
            <li>
                <a routerLink="/girls">
                <p>Girls</p>
                <img src="./assets/img/girl-cartoon.jfif" alt="Girl">
            </a>
            </li>
            <li>
                <a routerLink="/mixed">
                <p>Mixed</p>
                <img src="./assets/img/boy-girl-cartoon.jfif" alt="Boy and Girl">
            </a>
            </li>
            <li>
                <a routerLink="/coach">
                <p>Coach</p>
                <img src="./assets/img/coach.png" alt="Coach">
            </a>
            </li>
        </ul>
    </nav>
</section>
</main>
