<body>
    <H3>Please click a link below to register your kid for an activity.</H3>
    <nav>
        <ul>
            <li>
                <a routerLink='boy'>
                <p>Boys</p>
                <img src="./assets/img/boy-cartoon.jpg" alt="Boy">
                </a>
            </li>
            <li>
                <p>Girls</p>
                <img src="./assets/img/girl-cartoon.jfif" alt="Girl">
            </li>
            <li>
                <p>Mixed</p>
                <img src="./assets/img/boy-girl-cartoon.jfif" alt="Boy and Girl">
            </li>
            <li> 
                <a routerLink='coach'>
                <p>Coach</p>
                <img src="./assets/img/coach.png" alt="Coach">
                </a>
            </li>
        </ul>
    </nav>
</body>
