
       <form [formGroup]="addForm" (ngSubmit)='onSubmit(addForm.value)'>

        <label for="GroupName">Activity Name: </label>
        <input id="GroupName" type="text" formControlName="GroupName">
      
        <label for="OrganizationName">Club Name: </label>
        <select name="OrganizationName" id="OrganizationName"  formControlName="OrganizationName">
          <option value="Boys">Boys</option>
          <option value="Girls">Girls</option>
          <option value="Mixed">Mixed</option>
        </select>
       
        <label for="SponsorName">Coach Name: </label>
        <input id="SponsorName" type="text" formControlName="SponsorName">

        <label for="SponsorPhone">Coach Phone: </label>
        <input id="SponsorPhone" type="tel" formControlName="SponsorPhone">

        <label for="SponsorEmail">Coach Email: </label>
        <input id="SponsorEmail" type="email" formControlName="SponsorEmail">

        <label  for="MaxGroupSize">MaxGroupSize: </label>
        <input id="MaxGroupSize" type="number" formControlName="MaxGroupSize">

        <input class="button" type="submit" id="add-activty" value="Submit">
        <input class="button" type="button" [routerLink]="['', 'coach']" value="Back">
      </form>
