 <div style="width: 400px; margin: auto;">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="GroupName">GroupName</label>
          <input
            type="text"
            class="form-control"
            id="GroupName"
            required
            [(ngModel)]="group.GroupName"
            name="GroupName"
          />
        </div>
  
        <div class="form-group">
          <label for="OrganizationName">OrganizationName</label>
          <input
            class="form-control"
            id="OrganizationName"
            required
            [(ngModel)]="group.OrganizationName"
            name="OrganizationName"
          />
        </div>

        <div class="form-group">
            <label for="SponsorName">SponsorName</label>
            <input
              class="form-control"
              id="SponsorName"
              required
              [(ngModel)]="group.SponsorName"
              name="SponsorName"
            />
          </div>

          <div class="form-group">
            <label for="SponsorPhone">SponsorPhone</label>
            <input
              class="form-control"
              id="SponsorPhone"
              required
              [(ngModel)]="group.SponsorPhone"
              name="SponsorPhone"
            />
          </div>

          <div class="form-group">
            <label for="SponsorEmail">SponsorEmail</label>
            <input
              class="form-control"
              id="SponsorEmail"
              required
              [(ngModel)]="group.SponsorEmail"
              name="SponsorEmail"
            />
          </div>

          <div class="form-group">
            <label for="MaxGroupSize">MaxGroupSize</label>
            <input
              class="form-control"
              id="MaxGroupSize"
              required
              [(ngModel)]="group.MaxGroupSize"
              name="MaxGroupSize"
            />
          </div>
  
        <button (click)="saveGroup()" class="btn btn-success">Submit</button>
        <button class="back" [routerLink]="['', 'coach']">Back</button>
      </div>

      <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="addNew()">Add Another Activity</button>
      </div> 
      
      <!-- <form [formGroup]="addForm" (ngSubmit)="saveGroup()">

        <label>
            Group Name:
          <input type="text" formControlName="GroupName">
        </label>
      <label>
        Club Name:
          <input type="text" formControlName="OrganizationName">
        </label>
      <label>
          Sponsor Name:
          <input type="text" formControlName="SponsorName">
        </label>
        <label>
            Sponsor Phone:
            <input type="text" formControlName="SponsorPhone">
        </label>
        <label>
            SponsorEmail:
            <input type="text" formControlName="SponsorEmail">
        </label>
        <label>
            Max Group Size:
            <input type="text" formControlName="MaxGroupSize">
        </label>
      <button type="submit">Submit Application</button>
      </form> -->