<nav>
    <ul>
        <li>
            <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li>
            <a routerLink="/view-all-activities" routerLinkActive="active">View all Activities</a>
        </li>
        <li>
            <a routerLink="/boys" routerLinkActive="active">Boys</a>
        </li>
        <li>
            <a routerLink="/girls" routerLinkActive="active">Girls</a>
        </li>
        <li>
            <a routerLink="/mixed" routerLinkActive="active">Mixed</a>
        </li>
        <li>
            <a routerLink="/coach" routerLinkActive="active">Coach</a>
        </li>
    </ul>
</nav>
