<h2>Welcome Coach! Here you can add, edit and delete teams and members below.</h2>
<form>
        <label for="OranizationName">Clubs:</label>
        <select name="OrganizationName" id="OrganizationName" (change)="displayClub($event.target.value)" class='section0'>
            <option value="OrganizationName" selected>Select a Club</option>
            <option  *ngFor="let club of allClubs" value="{{ club.OrganizationId }}"> {{ club.OrganizationName }}</option>
        </select>
        <span></span>
    <label for="GroupName">Activites:</label>
    <select  name="GroupName" id="GroupName" class='section1'>
        <option value="GroupName" selected>Select Activity</option>
        <option *ngFor="let groups of allGroups" value="{{ groups.GroupId }}"> {{ groups.GroupName }}</option>
    </select>

<!-- <label for="MemberName">Members:</label>
<select name="MemberName" id="MemberName" class='dropdown'>
    <label for="MemberName"></label>
    <option *ngFor="let members of allMembers" value="{{ groups }}"> {{ groups.GroupName }}</option>
</select> -->
</form>
<section class="buttons">
    <button class="button">Add New Activity</button>
    <button class="button">Edit a Group</button>
    <button class="button">Delete a Group</button>
</section>
