h2 {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 2em;
}
button {
  border-radius: 12px;
  box-shadow: 0 0 2px 1px rgba(2, 97, 50, 0.5);
  margin: 1em;
}

button:hover {
  background-color: lightskyblue;
}

section {
  display: flex;
  justify-content: center;
  padding: 2em;
}
span {
  margin: 0.5em;
}
input:hover {
  background-color: lightskyblue;
}
