<h2>Welcome Coach! Here you can add, edit and delete teams and members below.</h2>
<!-- TODO Add Authorization Log In -->
<section>
    <label for="OranizationName">Clubs:</label>
        <select name="OrganizationName" id="OrganizationName" (change)="displayClub($event.target.value)" class='section0'>
            <option value="OrganizationName" selected>Select a Club</option>
            <option  *ngFor="let club of allClubs" value="{{ club.OrganizationId }}"> {{ club.OrganizationName }}</option>
        </select>
</section>

<section>
        
    <label for="GroupName">Activities:</label>

    <select  name="GroupName" id="GroupName" (change)="displayGroups($event.target.value)" class='section1'>
        <option value="GroupName" selected>Select Activity</option>
        <option *ngFor="let groups of allGroups" value="{{ groups.GroupId }}"> {{ groups.GroupName }}</option>
    </select>
</section>

<section>
    <label for="MemberName">Members:</label>
    <select name="MemberName" id="MemberName" class='dropdown'>
        <label for="MemberName"></label>
        <option value="GroupName" selected>Select Member</option>
        <option *ngFor="let members of allMembers" value="{{ members.MemberId }}"> {{ members.MemberName }}</option>
    </select>
</section>

<section class="buttons">
    <button class="button" [routerLink]="['addGroup']">Add New Activity</button>
    <button class="button" [routerLink]="['addMember']">Add Member</button>
    <button class="button" [routerLink]="['editGroup']">Edit an Activity</button>
    <button class="button" [routerLink]="['viewCoaches']">View Coaches</button>
</section>
