.header-footer {
  background-color: rgb(51, 165, 51);
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  background-color: wheat;
}
