<form [formGroup]="memberForm" (ngSubmit)="onSubmit(memberForm.value)">
    <label for="MemberName">Kid Name</label>
    <input type="text" id="memberName" formControlName="MemberName">
    <label for="MemberEmail"> Email</label>
    <input type="email" id="contactEmail" formControlName="MemberEmail">
    <label for="MemberPhone"> Phone</label>
    <input type="tel" id="contactPhone" formControlName="MemberPhone">

    <div>
        <input class="button" type="submit" id="register-member" value="Save Kid">
        <input class="button" type="button" id="back-button" [routerLink]="['', 'coach']" value="Back">
    </div>
</form>
